config CLK_SHMOBILE_LEGACY
	bool "Support for old shmobile DTBs"
	depends on ARCH_R8A7791
	help
	  Enable backward compatibility with old device trees using a
	  hierarchical representation of the various CPG and MSTP clocks.

	  Say Y if you want your kernel to work with old DTBs.
	  It is safe to say N if you use the DTS that is supplied with the
	  current kernel source tree.
